


<!DOCTYPE HTML>
<html>
<head>
<title></title>
</head>

<body style="color: white; background-color: black; font-size: 1vw; font-family: monospace; margin-left: 2vw; margin-top: 2vw; line-height: 1.1; width: 95%; min-width: 95%; max-width: 95%; overflow-x: hidden;">

<script>

globalThis.htmlTitleTag = "Bullet Point Template";

globalThis.contentData = [
[
"Heading",
`
`
],
[
"References",
`
`
]
];

globalThis.document.getElementsByTagName("title")[0].innerHTML = globalThis.htmlTitleTag;

globalThis.setBody = function() {

globalThis.contentString = ``;

for (let sectionData of contentData) {
globalThis.contentString = [
globalThis.contentString,
"<div>",
`<div style="font-size: 2vw; font-weight: bold;">`,
sectionData[0],
`</div>`,
"<pre>",
sectionData[1].trim().split("\n").map(lineX => {
if (lineX.trim().length === 0){
return "";
}
return "" + lineX + "";
}).join(""),
"</pre>",
"</div>"
].join("")

}

globalThis.document.getElementsByTagName("body")[0].innerHTML = globalThis.contentString;
};


globalThis.window.onload = function() {
globalThis.postload = function() {
globalThis.setBody();
};
globalThis.postload();
};


	
</script>
</body>

</html>


